<%-include('./partials/header.ejs') %>
<body>
  <%-include('./partials/navbar.ejs') %>
  <div class="container">
    <hr />
    <h1><%= pergunta.titulo %></h1>
    <br />
    <p><%= pergunta.descricao %></p>
    <hr />
    <form action="" method="get">
      <h3>Responda</h3>
      <label for="">Resposta:</label>
      <textarea
        name="corpo"
        id=""
        cols="30"
        rows="10"
        placeholder="Digite sua resposta"
        class="form-control"
      ></textarea>
      <br />
      <input type="hidden" name="Pergunta" id="" value="<%= pergunta.id %>" />
      <button type="submit" class="btn btn-dark">Responder</button>
    </form>
  </div>
</body>
<%-include('./partials/footer.ejs') %>
